*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ background-color: #1B1717; font-family:'Segoe UI' ;}

.navegacion{
    width: 100%;
    margin: 30px auto;
    background:#EEEBDD;
}


.navegacion ul {
    list-style: none;

  /* padding: 0;
    background: #D4D7DD ;
    width: 90%;
    max-width: 100px;
    margin: auto;
list-style: none;*/
}



.lista1 > li {
     display:inline-block;
   position: relative;
    font-size: 20px;
}

.lista1 > li > a{

text-decoration:none;
color: #1B1717 ;
padding: 15px 20px;
display: block;
font-family:'Segoe UI';
}

.lista1 li a:hover{
color:#630000;

transition: all .3s;
}

.submenu{
position: absolute;
 background: #D8B6A4;
 width: 120%;
display: none;
}

.submenu li a {
 display: block;
padding: 15px;
font-family:'Segoe UI';
text-decoration: none;
color: #630000;
}

.lista1 li:hover .submenu{
 display: block;

}
 .contenedor {
width: 100%;
height: auto;
padding: 80px ;
max-width: 1000px;
margin: auto;
background:#630000 ;
margin-top: 100px;
border-radius: 9px;
margin-bottom: 200px;
 }
 

 .contenedor img{
    align-self: center;
    width: 550px;
    float: left;
    margin-bottom: 20px;
    margin-right:  20px;
 }

.boton{

border-radius: 9px;
display: inline-flex;
align-items: center;
width: 90px ;
height: 33px;
background: #D8B6A4;
color: #1B1717;
font-family:'Segoe UI';
border: none;
font-size: 15px ;
float: right;
}
.contactos{
    font-family:'Segoe UI';
    color: #EEEBDD;

}